<div class="page-cntr">
    <div class="calc-display">
        <span #display >{{ calcDisplay() }}</span>
    </div>
    <span class="test">{{value1}} </span>
    <span class="test">{{operator}} </span>
    <span class="test">{{value2}}</span>
    <div class="parent">
        <div class="calc-btn div1">1</div>
        <div class="calc-btn div2">2</div>
        <div class="calc-btn div3">3</div>
        <div class="calc-btn div4">4</div>
        <div class="calc-btn div5">5</div>
        <div class="calc-btn div6">6</div>
        <div class="calc-btn div7">7</div>
        <div class="calc-btn div8">8</div>
        <div class="calc-btn div9">9</div>
        <div class="calc-btn div10">0</div>
        <div class="calc-btn div11">=</div>
        <div class="calc-btn div12">+</div>
        <div class="calc-btn div13">-</div>
        <div class="calc-btn div14">*</div>
        <div class="calc-btn div15">/</div>
        <div class="calc-btn div16">AC</div>
        <div class="calc-btn div17">Del</div>
        <div class="calc-btn div18">.</div>
    </div>
</div>